extends layout

include _inc/cardsHTML

block content
  div.background.short.arena
    h1.background-image-text.title.short= pageHeader.title
    h4.background-image-text.text.short= pageHeader.subtitle
    div.overlay

  div.container.home
    div.row.text-center
      div.col-sm-6
        div.card
          div.row
            div.col-12
              h3 Cartas
              a(href='/cards')
                img(class='card-image' src='http://www.clashapi.xyz/images/cards/princess.png')
              p.detail Veja a lista completa de Carta disponiveis
      div.col-sm-6
        div.card
          div.row
            div.col-12
              h3 Deck Aleatório
              a(href='/decks')
                img(class='card-image' src='http://www.clashapi.xyz/images/cards/the-log.png')
              p.detail Veja lista dos Deck