html
  head
    title= `${pageHeader.title} | Royal Deck Builder`
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='../assets/stylesheets/layout.css')

    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/images/app/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")

  body#random-app
    include _inc/navmenu

    div.main-content
      block content

    footer.footer.center-align
      div.container
        div.row
          p
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="../assets/js/app-vue.js")