extends layout

include _inc/cardsHTML

block content
  div.background.short.arena
    h1.background-image-text.title.short= pageHeader.title
    h4.background-image-text.text.short= pageHeader.subtitle
    div.overlay

  div.container
    +renderCardsCollection(cards)

  div.container
    div.row
      h2.text-center.title Estatísticas aleatórias do Deck:

  div.container
    div.row
      div.card.col-12
        div.card-content
          div.row.text-centered
            div.col-md-3
              p Elixir Custos:
                +renderTotalElixirCost(cards)
            div.col-md-3
              p Tropa:
                +renderTotalCardType(cards, 'Troop')
            div.col-md-3
              p Feitiços:
                +renderTotalCardType(cards, 'Spell')
            div.col-md-3
              p Edifícios:
                +renderTotalCardType(cards, 'Building')