nav.nav-wrapper.navbar.navbar-expand-md
  div.container
    a.navbar-brand(href='/')
      img(src='../assets/images/logo.png')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mobilenav', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #mobilenav.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li(class=(pageHeader.title === 'Cartas' ? 'active' : '')).nav-item
          a.nav-link(href='/cards') Cartas
        li(class=(pageHeader.title === 'Decks de Batalha' ? 'active' : '')).nav-item
          a.nav-link(href='/decks') Decks
        li(class=(pageHeader.title === 'Jogadores' ? 'active' : '')).nav-item
          a.nav-link(href='/players') Jogadores

script.
  //- Load collapsible menu
  document.addEventListener('DOMContentLoaded', () => {
    $('.loading-page').fadeOut()
  })
